* {
    margin: 0;
    padding: 0;  
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

/* global starts */
html {
    scroll-behavior: smooth
  }
:root {
    --cs-primary: #0084b4;
    --cs-secondary: #f4b734;
    --cs-white: #fff;
    --cs-sub-title: #777;
}
h1{
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    color: var(--cs-white);
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
}


a {
    text-decoration: none;
    
}
p {
    font-size: 16px;
    
}

li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
.cs-btn{
    color: var(--cs-white);
    background-color: var(--cs-primary);
    padding: 8px 35px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 0;
}
.cs-btn-secondary{
    color: var(--cs-white);
    background-color: var(--cs-secondary);
    padding: 8px 35px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 0;
}
.cs-btn:hover, .cs-btn-secondary:hover{
    color: var(--cs-primary);
    background-color: var(--cs-white);
    border: 1px solid #88c6dc;
}
/* global ends */
.top-header {
    background-color: #232323;
    padding: 18px 0;
}
.top-inner ul{
    display: flex;
    align-items: center;
}
.top-inner ul li{
    font-size: 16px;
    color: var(--cs-white);
    font-weight: 300;
    margin-right: 30px;
}
.top-inner ul li span{
    font-size: 14px;
    margin-right: 10px;
}
.social-icon{
    font-size: 16px;
    color: var(--cs-white);
    text-align: end;
}
 /* top-header end here  */
 .header{
    background-color: var(--cs-white);
    box-shadow: 0px 1px 8px 0 #ddd;
    z-index: 999;
    width: 100%;
 }
 /* header end here  */
 .carousel-inner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 #slider1{
    background-image: url(../images/slider-1.webp);
 }
 #slider2{
    background-image: url(../images/movers.webp);
 }
